body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('./images/pexels-freestockpro-1227513.webp');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  font-family: 'Roboto', serif;
  z-index: 1;
  transition:
    background-image,
    0.2s ease-in-out;
}

.blurWall {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #161616ba;
  backdrop-filter: blur(5px);
  z-index: 2;
  transition:
    backdrop-filter 0.5s ease,
    background-color 0.5s ease;
}

.blurWall.unblur {
  backdrop-filter: blur(0);
  background-color: transparent;
}

.frame {
  display: grid;
  grid-template: 10vh 65vh 10vh / 6vw 73vw 6vw;
  height: 85vh;
  width: 85vw;
  background-color: #151515;
  border: none;
  border-radius: calc(25 * 100vmin / 730);
  z-index: 3;
  overflow: hidden;
  transition: height 0.8s ease;
}

.frame.fullscreen {
  grid-template: 10vh 80vh 10vh / 6vw 88vw 6vw;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}

.frame > * {
  background-color: transparent;
}

.frame .header {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  border-top-left-radius: calc(25 * 100vmin / 730);
  border-top-right-radius: calc(25 * 100vmin / 730);
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame .header .text {
  color: rgb(212, 212, 212);
  font-size: calc(20 * 100vmin / 730);
  letter-spacing: calc(50 * 100vw / 1536);
  padding-left: calc(50 * 100vw / 1536);
}

.frame.fullscreen .header .text {
  background-color: #15151510;
  backdrop-filter: blur(5px);
  border-radius: calc(20 * 100vmin / 730);
}

.frame .header .text.glow {
  color: white;
  text-shadow:
    1px 1px 3px rgb(212, 212, 212),
    -1px -1px 3px rgb(212, 212, 212);
}

.frame .menu {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.frame .menu .menuKebab {
  height: calc(30 * 100vh / 730);
  width: calc(30 * 100vh / 730);
  border: none;
  border-radius: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame .menu .menuKebab img {
  height: calc(30 * 100vh / 730);
  width: calc(30 * 100vh / 730);
  filter: invert(80%);
  opacity: 0.2;
  cursor: pointer;
}

.frame .menu .menuKebab:hover img {
  filter: invert(100%);
  opacity: 1;
}

.frame .menu .menuBox {
  position: absolute;
  top: calc(19 * 100vh / 730);
  right: calc(60 * 100vw / 1536);
  height: 5vh;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: calc(5 * 100vmin / 730);
  box-sizing: border-box;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.9);
  z-index: 0;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.frame .menu .menuBox.visible {
  opacity: 1;
  transform: scale(1);
  z-index: 5;
}

.frame .menu .menuBox.hidden {
  opacity: 0;
  transform: scale(0.9);
  z-index: 0;
  pointer-events: none;
}

.frame .menu .menuBox .menuBoxItems {
  height: 5vh;
  width: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: calc(5 * 100vmin / 730);
}

.frame .menu .menuBox .menuBoxItems button {
  color: rgb(212, 212, 212);
  background-color: #252525ba;
  border: none;
  border-top-left-radius: calc(5 * 100vmin / 730);
  border-top-right-radius: calc(5 * 100vmin / 730);
  flex: 1;
  width: 100%;
  cursor: pointer;
}

.frame .menu .menuBox .menuBoxItems .slideShow {
  border-radius: 0;
  border-bottom-left-radius: calc(5 * 100vmin / 730);
  border-bottom-right-radius: calc(5 * 100vmin / 730);
}

.frame .menu .menuBox .menuBoxItems button:hover {
  background-color: #303030ba;
}

.frame .content {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  z-index: 3;
  overflow: hidden;
  margin-left: calc(10 * 100vw / 1536);
  margin-right: calc(10 * 100vw / 1536);
}

.frame .leftButton {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  z-index: 4;
  background-color: transparent;
  backdrop-filter: blur(0px);
  transition:
    backdrop-filter 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
  margin-left: calc(10 * 100vw / 1536);
}

.frame.fullscreen .leftButton {
  border-radius: calc(20 * 100vmin / 730);
}

.frame .leftButton .previous {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.frame .leftButton .previous img {
  filter: invert(90%);
  opacity: 0.1;
  transition:
    opacity 0.2s ease-in-out,
    filter 0.2s ease-in-out;
}

.frame .leftButton:hover {
  background-color: #15151510;
  backdrop-filter: blur(5px);
}

.frame .leftButton:hover .previous img {
  filter: invert(100%);
  opacity: 1;
}

.frame .rightButton {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  z-index: 4;
  background-color: transparent;
  backdrop-filter: blur(0px);
  transition:
    backdrop-filter 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
  margin-right: calc(10 * 100vw / 1536);
}

.frame.fullscreen .rightButton {
  border-radius: calc(20 * 100vmin / 730);
}

.frame .rightButton .next {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.frame .rightButton .next img {
  filter: invert(90%);
  opacity: 0.1;
  transition:
    opacity 0.2s ease-in-out,
    filter 0.2s ease-in-out;
}

.frame .rightButton:hover {
  background-color: #15151510;
  backdrop-filter: blur(5px);
}

.frame .rightButton:hover .next img {
  filter: invert(100%);
  opacity: 1;
}

.frame .footer {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  border-bottom-left-radius: calc(25 * 100vmin / 730);
  border-bottom-right-radius: calc(25 * 100vmin / 730);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.frame.fullscreen .footer {
  z-index: 4;
}

.frame .footer .slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(10 * 100vw / 1536);
}

.frame .footer .slider .quickNavButton {
  height: calc(20 * 100vh / 730);
  width: calc(20 * 100vh / 730);
  border: none;
  border-radius: 100%;
  background-color: rgb(212, 212, 212);
  box-sizing: border-box;
  transform: scale(0.5);
  transition: transform 0.8s ease;
  cursor: pointer;
}

.frame .footer .slider .quickNavButton:hover {
  transform: scale(1);
  height: calc(20 * 100vh / 730);
  width: calc(20 * 100vh / 730);
  transition: transform 0.2s ease;
}

.frame .footer .slider .quickNavButton.visible {
  transform: scale(1);
  height: calc(20 * 100vh / 730);
  width: calc(20 * 100vh / 730);
  border: solid calc(3 * 100vmin / 730) black;
  background-color: transparent;
  background-image: url('./images/circle-medium.svg');
  background-position: center;
  filter: invert(100%);
  cursor: default;
}

.frame .content .images {
  display: flex;
  justify-content: center;
}

.frame .content .images img {
  height: 65vh;
  border: none;
  border-radius: calc(25 * 100vmin / 730);
  opacity: 0;
  transform: scale(1);
  transition:
    transform 0.8s ease,
    opacity 0.4s ease;
  position: absolute;
}

.frame .content .images img.visible {
  opacity: 1;
  position: absolute;
  transform: scale(1);
  z-index: 3;
  cursor: pointer;
}

.frame .content .images img.visible:hover {
  transform: scale(1.2);
  z-index: 999;
}

.frame.fullscreen .content .images img.visible {
  transform: scale(2.1);
  opacity: 0;
  z-index: 0;
}

.frame .content .images img.hidden {
  opacity: 0;
  transform: scale(0.85);
  z-index: 2;
  pointer-events: none;
}
